* {background-color: bisque;}
h1 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
h3 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
.elemento1 {font-size: larger;}
.elemento2 {font-size: medium;}
.elemento3 {font-size: medium;}
.elemento4 {font-size: larger;}
.nacionalidade { text-emphasis-color: green;}